.main {
  position :absolute;
  top:100px;
  width: 100vw;
  max-width: 600px;
  height: 530px;
  border: 1px gray solid;
}

.main .main__header {
  height: 30px;
  margin-left:10px;
  padding-top:4px;
}

.main .main__map {  /* border: 1px gray solid; */
  height: 500px;
}

.main__map-empty {
  background: url("../images/bg-puppy.jpg");
  opacity: 0.7;
  background-size: contain;
  background-repeat: no-repeat;
}
