.main {
  width: 100vw;
  max-width: 600px;
  height: 530px;
  padding-top: 100px;
}

.main .main__header {
  height: 30px;
}

.main .main__map {
  height: 500px;
}

.main__map-empty {
  background: url("../images/bg-puppy.jpg");
  opacity: 0.7;
  background-size: contain;
  background-repeat: no-repeat;
}
